body{
    background-color: rgb(248, 202, 146);
    font-family: sans-serif;
}
.recipe{
    display: block;
    padding-left: 20%;
}
.recipe p span {
    background-color: rgb(134, 36, 36);
    color: white;
    font-size: larger;
    font-family: 'Gill Sans';
}